<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
      <a href="#/home" class="al-logo clearfix" ng-bind="companyName"></a>
      <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

      <div class="user-profile clearfix">
        <div class="al-user-profile" uib-dropdown>
          <a uib-dropdown-toggle class="profile-toggle-link">
            <img ng-src="{{::( 'profile_nav' | profilePicture )}}">
          </a>
          <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
            <li><i class="dropdown-arr"></i></li>
            <li ng-click="logout()"><a href class="signout text-center"><i class="ion-log-out"></i><strong>Sign out</strong></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
