<div ba-panel class="menu-box" ba-panel-class="light-text">
    <img ng-src="{{companyImageUrl}}" class="image-center pointer" width="90" height="90" alt="token Image">
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/list')" class="pointer menu-box-options">
        <h5>List<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/webhooks/logs')" class="pointer menu-box-options">
        <h5>Logs <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
